# http://karpov.courses

### –ê –≤–æ—Ç –∏ –Ω–∞—à –ø–µ—Ä–≤—ã–π –º–∏–Ω–∏–ø—Ä–æ–µ–∫—Ç!
–í –ø–µ—Ä–≤–æ–º –º–∏–Ω–∏-–ø—Ä–æ–µ–∫—Ç–µ –≤–∞–º –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –æ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–∏ –æ—Ç–µ–ª–µ–π. –ß—É—Ç—å –Ω–∏–∂–µ –≤—ã –º–æ–∂–µ—Ç–µ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è —Å–æ —Å–ø–∏—Å–∫–æ–º –≤–æ–ø—Ä–æ—Å–æ–≤ –∏ –æ–ø–∏—Å–∞–Ω–∏–µ–º –¥–∞–Ω–Ω—ã—Ö. –î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –ø—Ä–æ–≤–µ—Ä–∫–∏, –¥–∞–ª–µ–µ –∑–∞–¥–∞—á–∏ —Ä–∞–∑–±–∏—Ç—ã –Ω–∞ —Å—Ç—ç–ø—ã. –í –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∏–∑ –Ω–∏—Ö —Ç–∞–∫–∂–µ –º–æ–∂–Ω–æ –≤—Å—Ç—Ä–µ—Ç–∏—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ –ø–æ–¥—Å–∫–∞–∑–∫–∏. –£—Å–ø–µ—Ö–æ–≤ :)

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
–ò–º–µ—é—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ:

* Hotel ‚Äì —Ç–∏–ø –æ—Ç–µ–ª—è (City Hotel –∏–ª–∏ Resort Hotel)  
* Is canceled ‚Äì –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ (1) –∏–ª–∏ –Ω–µ—Ç (0); –Ω–µ –æ—Ç–º–µ–Ω–µ–Ω–Ω–æ–µ —Å—á–∏—Ç–∞–µ—Ç—Å—è —É—Å–ø–µ—à–Ω—ã–º
* Lead time ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–Ω–µ–π, –ø—Ä–æ—à–µ–¥—à–∏—Ö –º–µ–∂–¥—É –¥–∞—Ç–æ–π –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –∏ –¥–∞—Ç–æ–π –ø—Ä–∏–±—ã—Ç–∏—è  
* Arrival full date ‚Äì –ø–æ–ª–Ω–∞—è –¥–∞—Ç–∞ –ø—Ä–∏–±—ã—Ç–∏—è
* Arrival date year ‚Äì –≥–æ–¥ –ø—Ä–∏–±—ã—Ç–∏—è  
* Arrival date month ‚Äì –º–µ—Å—è—Ü –ø—Ä–∏–±—ã—Ç–∏—è  
* Arrival date week number ‚Äì –Ω–æ–º–µ—Ä –Ω–µ–¥–µ–ª–∏ –ø—Ä–∏–±—ã—Ç–∏—è
* Arrival date day of month ‚Äì –¥–µ–Ω—å –ø—Ä–∏–±—ã—Ç–∏—è
* Stays in weekend nights ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—ã—Ö–æ–¥–Ω—ã—Ö (—Å—É–±–±–æ—Ç–∞ –∏–ª–∏ –≤–æ—Å–∫—Ä–µ—Å–µ–Ω—å–µ), –∫–æ—Ç–æ—Ä—ã–µ –≥–æ—Å—Ç—å –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–ª –¥–ª—è –ø—Ä–æ–∂–∏–≤–∞–Ω–∏—è –≤ –æ—Ç–µ–ª–µ
* Stays in week nights ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–Ω–µ–π (—Å –ø–æ–Ω–µ–¥–µ–ª—å–Ω–∏–∫–∞ –ø–æ –ø—è—Ç–Ω–∏—Ü—É), –∫–æ—Ç–æ—Ä—ã–µ –≥–æ—Å—Ç—å –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–ª –¥–ª—è –ø—Ä–æ–∂–∏–≤–∞–Ω–∏—è –≤ –æ—Ç–µ–ª–µ
* Stays total nights ‚Äì –æ–±—â–µ–µ —á–∏—Å–ª–æ –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –Ω–æ—á–µ–π (—Å—É–º–º–∞ –¥–≤—É—Ö –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –∫–æ–ª–æ–Ω–æ–∫)
* Adults ‚Äì —á–∏—Å–ª–æ –≤–∑—Ä–æ—Å–ª—ã—Ö
* Children ‚Äì —á–∏—Å–ª–æ –¥–µ—Ç–µ–π
* Babies ‚Äì —á–∏—Å–ª–æ –º–ª–∞–¥–µ–Ω—Ü–µ–≤ 
* Meal ‚Äì –≤—ã–±—Ä–∞–Ω–Ω—ã–π —Ç–∏–ø –ø–∏—Ç–∞–Ω–∏—è
* Country ‚Äì —Å—Ç—Ä–∞–Ω–∞ –ø—Ä–æ–∏—Å—Ö–æ–∂–¥–µ–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–∞
* Reserved room type ‚Äì —Ç–∏–ø –∑–∞—Ä–µ–∑–µ—Ä–≤–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ –Ω–æ–º–µ—Ä–∞
* Assigned room type ‚Äì —Ç–∏–ø –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –Ω–æ–º–µ—Ä–∞ (–º–æ–∂–µ—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ)
* Customer type ‚Äì —Ç–∏–ø –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è
* Reservation status ‚Äì –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ —Å—Ç–∞—Ç—É—Å–∞ –±—Ä–æ–Ω–∏: Canceled - –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ –∫–ª–∏–µ–Ω—Ç–æ–º; Check-Out - –∫–ª–∏–µ–Ω—Ç –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–ª—Å—è, –Ω–æ —É–∂–µ –ø–æ–∫–∏–Ω—É–ª –æ—Ç–µ–ª—å; No-Show - –∫–ª–∏–µ–Ω—Ç –Ω–µ –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–ª—Å—è –∏ —Å–æ–æ–±—â–∏–ª –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ü–∏–∏ –æ—Ç–µ–ª—è –ø—Ä–∏—á–∏–Ω—É
* Reservation status date ‚Äì –¥–∞—Ç–∞ –æ–±–Ω–æ–≤–ª–µ–Ω–∏—è —Å—Ç–∞—Ç—É—Å–∞

### –ó–∞–¥–∞–Ω–∏–µ 1
–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas –∫–∞–∫ pd. –ü—Ä–æ—á–∏—Ç–∞–π—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç bookings.csv —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º ;. –°—Å—ã–ª–∫–∞ –Ω–∞ –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π path_to_file- –Ω–∞ LMS –µ–≥–æ –Ω–∞–¥–æ —á–∏—Ç–∞—Ç—å —Ç–∞–∫ –∂–µ, –∫–∞–∫ –Ω–∞ —Ç—Ä–µ—Ç—å–µ–º —à–∞–≥–µ –∑–∞–¥–∞–Ω–∏–π —ç—Ç–æ–≥–æ —É—Ä–æ–∫–∞.

–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –ø—Ä–æ—á–∏—Ç–∞–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç –≤ bookings.

–ó–∞—Ç–µ–º –∑–∞–ø–∏—à–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 7 —Å—Ç—Ä–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é bookings_head.

In [104]:
import pandas as pd
import numpy as np

path_to_file = 'bookings.csv'
bookings = pd.read_csv(path_to_file, sep=';')
bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

### –ó–∞–¥–∞–Ω–∏–µ 2
–ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —Ä–∞–∑–º–µ—Ä—ã —Ç–∞–±–ª–∏—Ü—ã. –°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –≤ –Ω–µ–π —Å—Ç–æ–ª–±—Ü–æ–≤?

In [8]:
print('Number of rows: {}, number of columns: {}'.format(bookings.shape[0], bookings.shape[1]))

Number of rows: 119390, number of columns: 21

### –ó–∞–¥–∞–Ω–∏–µ 3
–ö –∫–∞–∫–æ–º—É —Ç–∏–ø—É/–∫–∞–∫–∏–º —Ç–∏–ø–∞–º –æ—Ç–Ω–æ—Å–∏—Ç—Å—è –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö?

In [15]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
Name: count, dtype: int64

### –ó–∞–¥–∞–Ω–∏–µ 4
üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ö–∞–∫ –≤—ã —É–∂–µ –º–æ–≥–ª–∏ –∑–∞–º–µ—Ç–∏—Ç—å, –ø—Ä–∏ —Å–±–æ—Ä–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ –ø—Ä–æ–∏–∑–æ—à–ª–∞ –Ω–µ–±–æ–ª—å—à–∞—è –æ—à–∏–±–∫–∞, –∏ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –±—ã–ª–∏ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ –Ω–µ—É–¥–æ–±–Ω–æ–º –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã —Ñ–æ—Ä–º–∞—Ç–µ. –ò—Å–ø—Ä–∞–≤—å—Ç–µ —Å–∏—Ç—É–∞—Ü–∏—é, –ø—Ä–∏–≤–µ–¥—è –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ –∑–∞–º–µ–Ω–∏–≤ –ø—Ä–æ–±–µ–ª—ã –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω–µ–≥–æ –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏—è. 
–ù–∞–ø—Ä–∏–º–µ—Ä: Is Canceled -> is_canceled

–ú–æ–≥—É—Ç –ø—Ä–∏–≥–æ–¥–∏—Ç—å—Å—è: 
* rename
* str.lower
* str.replace
* columns

–î–∞–Ω–Ω—ã–µ —É–∂–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ bookings.

In [17]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [109]:
for i in range(len(bookings.columns)):
    temp = bookings.columns[i].lower().replace(' ', '_')
    bookings.rename(columns={bookings.columns[i]: temp}, inplace=True)
    
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

### –ó–∞–¥–∞–Ω–∏–µ 5
üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ü–µ—Ä–µ–π–¥–µ–º –∫ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—é –¥–∞–Ω–Ω—ã—Ö! –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∏–∑ –∫–∞–∫–∏—Ö —Å—Ç—Ä–∞–Ω —Å–æ–≤–µ—Ä—à–∏–ª–∏ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ —É—Å–ø–µ—à–Ω—ã—Ö –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–π? –ë—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ —Å—á–∏—Ç–∞–µ—Ç—Å—è —É—Å–ø–µ—à–Ω—ã–º, –µ—Å–ª–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ (–ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è is_canceled). –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ –≤—ã–±–µ—Ä–∏—Ç–µ —Å—Ç—Ä–∞–Ω—ã, –≤—Ö–æ–¥—è—â–∏–µ –≤ —Ç–æ–ø-5.

In [43]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [48]:
# –ù–µ —Ç–æ, —Å—á–∏—Ç–∞–µ—Ç—Å—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–º–µ–Ω
bookings.groupby(by=['country']).agg({'is_canceled': 'sum'}).sort_values(by='is_canceled', ascending=False).head()

         is_canceled
country
PRT            27519
GBR             2453
ESP             2177
FRA             1934
ITA             1333

In [50]:
# –Ω–æ–≤—ã–π df, –æ—Ç–∫—É–¥–∞ —É–±—Ä–∞–Ω—ã —Å—Ç—Ä–æ—á–∫–∏ —Å –æ—Ç–º–µ–Ω–∞–º–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è
new_df = bookings[bookings['is_canceled'] == 0]  
new_df.groupby(by=['country']).agg({'is_canceled': 'count'}).sort_values(by='is_canceled', ascending=False).head()

         is_canceled
country
PRT            21071
GBR             9676
FRA             8481
ESP             6391
DEU             6069

### –ó–∞–¥–∞–Ω–∏–µ 6
–ù–∞ —Å–∫–æ–ª—å–∫–æ –Ω–æ—á–µ–π (stays_total_nights)  –≤ —Å—Ä–µ–¥–Ω–µ–º –±—Ä–æ–Ω–∏—Ä—É—é—Ç –æ—Ç–µ–ª–∏ —Ç–∏–ø–∞ City Hotel? Resort Hotel? –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –ø—Ä–æ–ø—É—Å–∫–∏ —Å —Ç–æ—á–Ω–æ—Å—Ç—å—é –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏.

–ú–æ–∂–µ—Ç –ø—Ä–∏–≥–æ–¥–∏—Ç—å—Å—è: round

In [62]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [55]:
# –í–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –º–µ—Ç–æ–¥–∞ round
bookings.groupby(by='hotel').agg({'stays_total_nights': 'mean'}).\
    round({'stays_total_nights': 2})

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

### –ó–∞–¥–∞–Ω–∏–µ 7
–ò–Ω–æ–≥–¥–∞ —Ç–∏–ø –Ω–æ–º–µ—Ä–∞, –ø—Ä–∏—Å–≤–æ–µ–Ω–Ω–æ–≥–æ –∫–ª–∏–µ–Ω—Ç—É (assigned_room_type), –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ (reserved_room_type). –¢–∞–∫–æ–µ –º–æ–∂–µ—Ç –ø—Ä–æ–∏–∑–æ–π—Ç–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ –ø—Ä–∏—á–∏–Ω–µ –æ–≤–µ—Ä–±—É–∫–∏–Ω–≥–∞.

–°–∫–æ–ª—å–∫–æ –ø–æ–¥–æ–±–Ω—ã—Ö –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –≤—Å—Ç—Ä–µ—Ç–∏–ª–æ—Å—å –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ?

In [57]:
bookings[bookings['assigned_room_type'] != bookings['reserved_room_type']].shape[0]

14917

In [58]:
# or
bookings.query('assigned_room_type != reserved_room_type').shape[0]

14917

### –ó–∞–¥–∞–Ω–∏–µ 8
–¢–µ–ø–µ—Ä—å –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ –¥–∞—Ç—ã –∑–∞–ø–ª–∞–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ –ø—Ä–∏–±—ã—Ç–∏—è (arrival_date_year).

–ù–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü —á–∞—â–µ –≤—Å–µ–≥–æ –æ—Ñ–æ—Ä–º–ª—è–ª–∏ –±—Ä–æ–Ω—å –≤ 2016 –≥–æ–¥—É? –ò–∑–º–µ–Ω–∏–ª—Å—è –ª–∏ —Å–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –º–µ—Å—è—Ü –≤ 2017?

In [71]:
bookings.groupby(by='arrival_date_year').agg({'arrival_date_month': 'value_counts'})

                                      arrival_date_month
arrival_date_year arrival_date_month
2015              September                         5114
                  October                           4957
                  August                            3889
                  December                          2920
                  July                              2776
                  November                          2340
2016              October                           6203
                  May                               5478
                  April                             5428
                  September                         5394
                  June                              5292
                  August                            5063
                  March                             4824
                  July                              4572
                  November                          4454
                  February                          3891
                  December                          3860
                  January                           2248
2017              May                               6313
                  April                             5661
                  June                              5647
                  July                              5313
                  March                             4970
                  August                            4925
                  February                          4177
                  January                           3681

### –ó–∞–¥–∞–Ω–∏–µ 9
–°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –≥–æ–¥–∞–º, –∞ –∑–∞—Ç–µ–º –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, –Ω–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü (arrival_date_month) –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –æ—Ç–µ–ª—è —Ç–∏–ø–∞ City Hotel –æ—Ç–º–µ–Ω—è–ª–∏—Å—å —á–∞—â–µ –≤—Å–µ–≥–æ –≤ 2015? 2016? 2017? 

Hint: –¥–ª—è —ç—Ç–æ–≥–æ —Å–Ω–∞—á–∞–ª–∞ –ø—Ä–∏–º–µ–Ω–∏—Ç–µ –º–µ—Ç–æ–¥ groupby, –ø–æ—Å–ª–µ —á–µ–≥–æ –≤—ã–±–µ—Ä–∏—Ç–µ –Ω—É–∂–Ω—É—é –∫–æ–ª–æ–Ω–∫—É –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–∏—Ö –¥–µ–π—Å—Ç–≤–∏–π :)

–ù–∞–ø—Ä–∏–º–µ—Ä:
df.groupby('column_1')['column_2'].what_to_do()

In [72]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [76]:
temp_df = bookings[['hotel', 'is_canceled', 'arrival_date_year', 'arrival_date_month']]
temp_df.head()

          hotel  is_canceled  arrival_date_year arrival_date_month
0  Resort Hotel            0               2015               July
1  Resort Hotel            0               2015               July
2  Resort Hotel            0               2015               July
3  Resort Hotel            0               2015               July
4  Resort Hotel            0               2015               July

In [86]:
temp_df = temp_df[(temp_df['hotel']=='City Hotel') & (temp_df['is_canceled']==1)]
temp_df.head()

            hotel  is_canceled  arrival_date_year arrival_date_month
40061  City Hotel            1               2015               July
40062  City Hotel            1               2015               July
40063  City Hotel            1               2015               July
40064  City Hotel            1               2015               July
40065  City Hotel            1               2015               July

In [89]:
temp_df.groupby(by='arrival_date_year').agg({'arrival_date_month': 'value_counts'})

                                      arrival_date_month
arrival_date_year arrival_date_month
2015              September                         1543
                  October                           1321
                  August                            1232
                  July                               939
                  December                           668
                  November                           301
2016              October                           1947
                  June                              1720
                  September                         1567
                  April                             1539
                  May                               1436
                  November                          1360
                  August                            1247
                  March                             1108
                  December                          1072
                  July                              1043
                  February                           930
                  January                            438
2017              May                               2217
                  April                             1926
                  June                              1808
                  July                              1324
                  March                             1278
                  August                            1123
                  January                           1044
                  February                           971

### –ó–∞–¥–∞–Ω–∏–µ 10
–ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —á–∏—Å–ª–æ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Ç—Ä—ë—Ö –∫–æ–ª–æ–Ω–æ–∫: adults, children –∏ babies. –ö–∞–∫–∞—è –∏–∑ –Ω–∏—Ö –∏–º–µ–µ—Ç –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ?

In [90]:
bookings[['adults', 'children', 'babies']].describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

### –ó–∞–¥–∞–Ω–∏–µ 11
–°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É total_kids, –æ–±—ä–µ–¥–∏–Ω–∏–≤ —Å—Ç–æ–ª–±—Ü—ã children –∏ babies. –î–ª—è –æ—Ç–µ–ª–µ–π –∫–∞–∫–æ–≥–æ —Ç–∏–ø–∞ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –æ–∫–∞–∑–∞–ª–æ—Å—å –Ω–∞–∏–±–æ–ª—å—à–∏–º?

City hotel ‚Äì –æ—Ç–µ–ª—å –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –≥–æ—Ä–æ–¥–µ
Resort hotel ‚Äì –æ—Ç–µ–ª—å –∫—É—Ä–æ—Ä—Ç–Ω—ã–π
–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ total_kids, –æ–∫—Ä—É–≥–ª–∏–≤ –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏.

In [110]:
bookings['total_kids'] = bookings['children'] + bookings['babies']
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0

In [93]:
bookings.groupby(by='hotel').agg({'total_kids': 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

### –ó–∞–¥–∞–Ω–∏–µ 12
üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ù–µ –≤—Å–µ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –∑–∞–≤–µ—Ä—à–∏–ª–∏—Å—å —É—Å–ø–µ—à–Ω–æ (is_canceled), –ø–æ—ç—Ç–æ–º—É –º–æ–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±—ã–ª–æ –ø–æ—Ç–µ—Ä—è–Ω–æ –≤ –ø—Ä–æ—Ü–µ—Å—Å–µ. –ò–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏, –ø–æ—Å—á–∏—Ç–∞—Ç—å –º–µ—Ç—Ä–∏–∫—É –ø–æ–¥ –Ω–∞–∑–≤–∞–Ω–∏–µ–º Churn Rate.

Churn rate (–æ—Ç—Ç–æ–∫, –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –æ—Ç—Ç–æ–∫–∞) ‚Äì —ç—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –ø–æ–¥–ø–∏—Å—á–∏–∫–æ–≤ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –Ω–∞ push-—É–≤–µ–¥–æ–º–ª–µ–Ω–∏—è –æ—Ç —Å–∞–π—Ç–∞), –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–ø–∏—Å–∞–ª–∏—Å—å –æ—Ç –∫–∞–Ω–∞–ª–∞ –∫–æ–º–º—É–Ω–∏–∫–∞—Ü–∏–∏, –æ—Ç–∫–∞–∑–∞–ª–∏—Å—å –æ—Ç —É—Å–ª—É–≥ —Å–µ—Ä–≤–∏—Å–∞ –≤ —Ç–µ—á–µ–Ω–∏–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–≥–æ –ø–µ—Ä–∏–æ–¥–∞ –≤—Ä–µ–º–µ–Ω–∏. –ò–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É—à–µ–¥—à–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∫ –æ–±—â–µ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –≤—ã—Ä–∞–∂–µ–Ω–Ω–æ–µ –≤ –ø—Ä–æ—Ü–µ–Ω—Ç–∞—Ö.

–í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ Churn Rate - —ç—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–º–µ–Ω–∏–ª–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ. –î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫ —ç—Ç–∞ –º–µ—Ç—Ä–∏–∫–∞ —Å–≤—è–∑–∞–Ω–∞ —Å –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π —É –∫–ª–∏–µ–Ω—Ç–æ–≤!

–°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É has_kids, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ True, –µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç –ø—Ä–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–∏ —É–∫–∞–∑–∞–ª —Ö–æ—Ç—è –±—ã –æ–¥–Ω–æ–≥–æ —Ä–µ–±–µ–Ω–∫–∞ (total_kids), –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ ‚Äì False. –î–∞–ª–µ–µ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å—Ä–µ–¥–∏ –∫–∞–∫–æ–π –≥—Ä—É–ø–ø—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –æ—Ç—Ç–æ–∫–∞ –≤—ã—à–µ. 

–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –Ω–∞–∏–±–æ–ª—å—à–∏–π % –æ—Ç—Ç–æ–∫–∞, –æ–∫—Ä—É–≥–ª–µ–Ω–Ω—ã–π –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏ (—Ç–æ –µ—Å—Ç—å –¥–æ–ª—è 0.24563 –±—É–¥–µ—Ç 24.56% –∏ –≤ –æ—Ç–≤–µ—Ç –ø–æ–π–¥—ë—Ç 24.56)

In [111]:
bookings['has_kids'] = bookings['total_kids'] > 0

In [116]:
temp_ser = bookings.groupby(by='has_kids') \
    .agg({'is_canceled': 'value_counts'})
temp_ser

                      is_canceled
has_kids is_canceled
False    0                  69093
         1                  40965
True     0                   6073
         1                   3259

In [113]:
n_users = temp_ser.sum()
n_users

is_canceled    119390
dtype: int64

–ú—ã —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞–µ–º –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –æ—Ç—Ç–æ–∫–∞ –≤–Ω—É—Ç—Ä–∏ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã.

In [124]:
den = temp_ser.iloc[1] + temp_ser.iloc[0]
churn_no_kids = np.round(100*temp_ser.iloc[1] / den, 2)
churn_no_kids

is_canceled    37.22
dtype: float64

In [125]:
den = temp_ser.iloc[2] + temp_ser.iloc[3]
churn_kids = np.round(100*temp_ser.iloc[3] / den, 2)
churn_kids

is_canceled    34.92
dtype: float64